
body
{
    background-position: center;
    background-size:cover;
}
.header{
    height:50px;
    text-align:center;
    font-size:15px;

}
.instructions{
    float: right;
    height:30px;
    text-align: center;
}
Canvas{
    border: 3px solid white ;
    border-radius:30px;
    padding:0.2px;
}
.footer{
    margin-top:15px;
    position:sticky;
    color: black;
    bottom:0;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    line-height: 3;
    }